/* Header styling */

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Header nav a {
  color: black;
  font-size: bold;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: #64376b;
}

/* Home Styling */

.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  text-align: center;
}

/* Stock Info Styling */
.StockInfo {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Company Profile Styling */

.CompanyInfo {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-basis: 40%;
  flex-direction: row;
  margin: 0px;
  padding: 20px;
}

.CompanyInfo_Description {
  min-height: 130px;
  text-align: left;
}

.CompanyInfo_CompanyName {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.CompanyInfo_Labels {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 700;
  text-decoration: none;
}

.StockData {
  border: 2px solid black;
  flex-basis: 60%;
  margin: 0;
  text-align: center;
  padding-top: 40px;
}

.StockData_Row {
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.StockData_currentPrice {
  font-size: 40px;
}

.StockData_currency {
  font-size: 25px;
}
.StockData_priceChange {
  font-size: 23px;
  padding-right: 7px;
}

.StockData_percentChange {
  font-size: 23px;
  padding-right: 7px;
}

.StockData_Image {
  font-size: 20px;
}

/* Stock Price Graph Styling */

.StockPriceGraph {
  border: 2px solid black;
  margin: 0 auto;
  padding: 20px 0;
}
