/* Web Page Styling */

/* Header styling */
.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Header nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.Header nav a:hover {
  color: #2c528c;
}

.HeaderLabel {
  margin: 10px;
}

/* Search Bar Styling */
.SearchFormAnchor {
  margin: 0;
  margin-left: 10px;
}

.SearchForm {
  display: inline-block;
  margin: 0;
  width: auto;
}

.SearchBox {
  border: 1px solid grey;
  border-right: none;
  font-weight: bold;
}

.SearchBox:focus {
  outline-width: 0;
}

.SearchIcon {
  border: 1px solid grey;
  border-left: none;
  background: white;
  color: black;
  margin: none;
}

.SearchBoxIcon:active {
  outline-width: 0;
}

/* Home Styling */

.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  text-align: center;
}

/* Stock Info Styling */
.StockInfo {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Company Profile Styling */

.CompanyInfo {
  align-items: center;
  border-right: 2px solid black;
  display: flex;
  flex-basis: 40%;
  flex-direction: row;
  margin: 0px;
  padding: 20px;
}

.ComapnyInfo_CompanyImage {
  padding: 10px;
}

.CompanyInfo_Description {
  min-height: 130px;
  text-align: left;
}

.CompanyInfo_CompanyName {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.CompanyInfo_Labels {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 700;
  text-decoration: none;
}

.StockData {
  flex-basis: 60%;
  margin: 0;
  text-align: center;
  padding-top: 40px;
}

.StockData_Row {
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.StockData_currentPrice {
  font-size: 40px;
}

.StockData_currency {
  font-size: 25px;
}
.StockData_priceChange {
  font-size: 23px;
  padding-right: 7px;
}

.StockData_percentChange {
  font-size: 23px;
  padding-right: 7px;
}

.StockData_Image {
  font-size: 20px;
}

/* Stock Price Graph Styling */

.StockPriceGraph {
  border: 2px solid black;
  border-top: none;
  margin: 0 auto;
  padding: 20px 0;
}

/* Styling for News Listing */
.News_Headlines {
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

/* Styling for Article Cards */
.ArticleCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 25px 30px;
  margin: 30px 0;
  text-align: left;
}
.ArticleCardImage {
  flex-basis: 40%;
  padding-right: 30px;
}

.ArticleCardImage img {
  height: auto;
  width: 100%;
}

.ArticleCardText {
  flex-basis: 60%;
}

.ArticleText_Title {
  font-weight: bolder;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.ArticleText_Author {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.ArticleText_Desc {
  font-size: 15px;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }

  .Header nav a {
    font-size: 12px;
  }

  .StockInfo {
    flex-direction: column;
    border: 2px solid black;
    border-bottom: none;
  }

  .CompanyInfo {
    flex-direction: column;
  }
}
